name: Slash Command Dispatch
on:
# Will only run when a new comment is created but there are three types of
# issue_comment: created, edited, and deleted
  issue_comment:
    types: [created]
jobs:
  slashCommandDispatch:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
    steps:
      - name: Slash Command Dispatch
        uses: peter-evans/slash-command-dispatch@v4
        with:
          # Must link a personal PAT to this repository
          token: ${{ secrets.GITHUB_TOKEN }}
          # List all of the commands that you want to work in lowercase
          # Where onboarding options are listed first and then offboarding
          commands: |
              onboard-connect
              onboard-fims
              onboard-fit
              onboard-nsap
              onboard-projections
              onboard-sis
              onboard-workflows
              onboard-dismap
              onboard-ggt
              offboard-connect
              offboard-fims
              offboard-fit
              offboard-nsap
              offboard-projections
              offboard-sis
              offboard-workflows
              offboard-dismap
              offboard-ggt
          permission: write
